#formKomentar{
    border: 5px solid #d1d1d1;
    width:830px;
    padding:10px;

}

input, textarea{
     padding: 10px;
     border:3px solid #e6e6e6;
     border-radius: 5px;
     margin-bottom: 15px; 
}

input:focus, textarea:focus{
    border:3px solid #5E4F4F;
}
 
textarea{
    width:500px;
}

input[type="submit"]{
     cursor: pointer;
     background: -webkit-linear-gradient(top, #efefef, #ddd);
     background: -moz-linear-gradient(top, #efefef, #ddd);
     background: -ms-linear-gradient(top, #efefef, #ddd);
     background: -o-linear-gradient(top, #efefef, #ddd);
     background: linear-gradient(top, #efefef, #ddd);
     color: #333;
     text-shadow: 0px 1px 1px rgba(255,255,255,1);
     border: 1px solid #ccc;
}
 
input[type="submit"]:hover {
     background: -webkit-linear-gradient(top, #eee, #ccc);
     background: -moz-linear-gradient(top, #eee, #ccc);
     background: -ms-linear-gradient(top, #eee, #ccc);
     background: -o-linear-gradient(top, #eee, #ccc);
     background: linear-gradient(top, #eee, #ccc);
     border: 1px solid #bbb;
}