@import url('https://fonts.googleapis.com/css?family=Finger+Paint');


*{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.6);
}

li {
    float: left;
    display: inline-block;
}

ul li a:hover{
    border: solid black;
    font-weight: normal;
    color: white;
}

li:last-child {
    border-right: none;
}


li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 4px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}



.hero-text {
  text-align: center;   
  position: absolute;
  top: 35%;
  left: 45%;
  margin-bottom: 20px;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}


h1
{
    font-family: 'Finger Paint', cursive;
    border: 5px solid white;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 200px;
    margin-left: 150px;
    
}
header
{
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    filter: grayscale(60%);

}


.link
{
    margin-top: 30px;
    margin-left: 170px;
}

.btn
{

    border: 2px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}


.btn-one
{
    font-family: "Roboto", sans-serif;
}


.btn-two
{
    font-family: "Roboto", sans-serif;
}

.btn-three
{
    font-family: "Roboto", sans-serif;
}


a.btn-one:hover{
    color: black
}

a.btn-two:hover{
    color: black;
}

a.btn-three:hover{
    color: black;
}


.btn-one:hover{
    background-color: #FFFFFF;
    transition: all 0.5s ease-in;
}

.btn-two:hover
{
    background-color: #FFFFFF;
    transition: all 0.5s ease-in;
}


.btn-three:hover
{
    background-color: #FFFFFF;
    transition: all 0.5s ease-in;
}


@media screen and (max-width: 780px){
    header{
        width: auto;
        float: none;
    }

    ul{
        width: auto;
        float: inherit; 
    }

    .hero-text{
        left: 80px;
    }

    .button{
        width: auto;
        margin-right: 0px;

    }

    .btn{
        float: left;
    }

    h1{
        font-size: 40px;
        width: auto;
        float: none;
    }
}






