@import url('https://fonts.googleapis.com/css?family=Expletus+Sans');

.head{
	font-family: 'Expletus Sans', cursive;
    text-align: center;
    font-size: 50px;
    border: 5px solid black;
    margin-bottom: 10px;
}
.judul{
    text-align: center;
    padding: 35px;
}
.isi{
    padding: 25px 250px 35px 250px;
    font-size: 15px;
}
.row{
    text-align: center;
}
